<!DOCTYPE html>
<html lang="en">
<head>
    <title>Superhero Recruitment</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="{{scheme}}">
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/heroes">Heroes</a></li>
        <li><a href="/squads">Squads</a></li>
    </ul>
</nav>

<div class="container">
    {{{body}}}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
